body{
    margin: 0;
    

}
h1 {  
    font-family: 'Montserrat', sans-serif;
      font-size: 3.5rem;  
     line-height: 1.5;  
     font-weight: 900;
     color:rgb(255, 255, 255);
 }
h2{
    font-family: 'montserrat';
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: 'montserrat';
    font-size: 1.5rem;
}

p{ 
    color: #6b6a6a;
}



/*start of navigation */
 .navbar {
    margin-bottom: 4rem;
    margin-left: -1rem;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bolder;
  
}

.nav-item{
    
    font-weight: 900;
    padding: 0 18px;
}
.nav-link{
    font-weight: 1.2rem;
    font-family: 'montserrat';
}
/* end of navigation */


/*start of header section */

#title{
    background-color: #ff4c68;
    
  

}
.title-image{
    margin-top: 40px;
    width: 60%;
    right: 30%;
    /* the transform: rotate property is use to move images */
    transform: rotate(25deg);
    position: absolute;
    
}
.title-container{
    padding: 3% 15% 7%;
    
    
}

.download-btn{
    margin: 8% 2.5% 0;
}
/* end of header */


/*start of features */

#features{
padding: 7% 10%;
background-color: #fff;
position:relative;

    
}

.features-box{
     text-align: center;
    padding:4%;
    /* margin-left:1px; */
 }   

.features-icon{
    
    margin-bottom:1rem ;
    color: #ef8172;
}
.features-icon:hover{
    color: #ff4c68;
}
/* testimonials */
#testimonials{
    
    background-color: #ef8172;
    text-align: center;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}
/* press */
 #press{
     background-color:#ef8172 ;
     text-align: center;
     padding-bottom: 3%;
 }
.press-image{
    width: 15%;
    margin: 20px 20px 50px;
} 

#pricing{
    padding: 90px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

/* Call to Action */
#cta {
 background-color: #ff4c68; 
 color: #fff;
 padding: 7% 15%;
  text-align: center;
}

.cta-title{
    font-size: 3rem;
    line-height: 1;

}

/* footer */
#footer{
    text-align: center;
    background-color: #fff;

}
.socials{
   color: rgb(48, 46, 46);
   margin: 20px 10px;
}
/* @media */

@media (max-width: 992px) {
   .title{
        text-align: center;
    }

    .title-image{
            position: static;
            padding: 15px;
            transform: none;      

 }
.nav-item{
   
    padding: 0 18px;
    font-weight: bolder;
    font-size: x-large;
}

    }